.tours-info-grid {
	background-image: url("../images/category.gif");
}

.tours-info-add {
	background-image: url("../images/add.gif");
}

.tours-info-remove {
	background-image: url("../images/delete.gif");
}

fieldset {
	border: 1px solid gray;
}

legend {
	color: gray;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	text-align: right;
}

.columns {
	margin: 20px;
}

.firstCol {
	float: left;
	height: 60px;
	clear: left;
	width: 200px;
	font-weight: bold;
}

.secondCol {
	float: left;
	height: 60px;
}

.firstRow {
	height: 50px;
	line-height: 60px;
}

.secondRow {
	height: 30px;
	line-height: 30px;
}

.basicDiv {
	width: 100%;
	border: 1px solid;
	/*border-radius:25px;
	box-shadow: 5px 5px 3px gray;
	-moz-border-radius:25px;*/
	padding: 10px;
	background-color: lightgray;
	font-size: medium;
}

.btnDiv {
	clear: both;
	margin: 30px 30px 30px 300px;
}

.imageclass { /* This centers the image */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* This adds the border */
	padding: 3px;
	border: solid;
	border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
	border-width: 1px 2px 2px 1px;
	background-color: lightgray;
}